<div class="footer">
    <div class="pull-left">
      <strong><span class="issu">Issues?</span> </strong><span class=""</span>
    </div>
    <div class="pull-right">
      <strong><span class="pb">Powered By </span></strong><a target="_blank" href="http://"></a>
    </div>
    <div class="text-center">
        <strong><span class="cp">Copyright©2018&nbsp;</span></strong><span ></span>
    </div>
</div>
