<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">
                    <span class="clear">
                        <span class="block m-t-xs text-center">
                            <img src="/img/logo.png" style="width: 100px;height: 100px"/>
                        </span>
                    </span>
                </div>
                <div class="logo-element">
                    <img src="/img/logo.png" style="width: 35px;height: 35px"/>
                </div>
            </li>
            <li>
                <a href="/dashboard"><i class="fa fa-dashboard "></i> <span class="nav-label r1">Dashboard</span></a>
            </li>
            <li>
                <a href="/address"><i class="fa fa-google-wallet"></i> <span class="nav-label r2">Public Address</span></a>
            </li>
            <li>
                <a href="/transactions"><i class="fa fa-paper-plane"></i> <span class="nav-label r3">Transaction History</span></a>
            </li>
            <li>
                <a href="/send"><i class="fa fa-spotify"></i> <span class="nav-label r4">Send GEM/Ether</span></a>
            </li>
        </ul>
    </div>
</nav>
