<!DOCTYPE html>
<html>

<head>
    <title>
        <%= title %>
    </title>
    <% include ../partials/head %>
</head>

<body>
    <div id="wrapper">
         <div id="trans" class="localizationTool" style="display:none;"></div>
        <div class="middle-box text-center loginscreen animated fadeInDown">
            <img src="/img/logo.png" class="logoImg" />
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h2 class="font-bold text-center resPass">Reset Password</h2>
                </div>
                <div class="ibox-content">
                    <div class="row">
                        <div class="">
                            <p class="PenYPad">
                                Please enter your new password. Do not use your previous password
                            </p>
                        </div>
                        <div style="width:80%;margin-left:auto;margin-right:auto;">
                            <form role="form" method="POST" id='userLoginForm' name='userLoginForm'>
                                <div class="form-group">
                                    <div class="input-group date">
                                        <input type="hidden" class="form-control" id="reset_email" value='<%= userEmail %>' contenteditable="false" disabled>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group date">
                                        <input type="password" class="form-control" id="new_password" placeholder="Enter New Password" required>
                                        <span class="input-group-addon"><i style="font-size:18px; padding-left:1px; padding-right:1px;" class="fa fa-lock"></i></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="input-group date">
                                        <input type="password" class="form-control" id="new_password_confirm" placeholder="Confirm New Password" required>
                                        <span class="input-group-addon"><i style="font-size:18px; padding-left:1px; padding-right:1px;" class="fa fa-lock"></i></span>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <a class="btn btn-sm btn-primary m-t-n-xs" href="javascript:resetPassword()"><strong class="resPass">Reset Password</strong></a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer" style="position:relative;">
        <div class="pull-left">
          <strong><span class="issu">Issues?</span> </strong><span class=""></span>
        </div>
        <div class="pull-right">
          <strong><span class="pb">Powered By </span></strong><a target="_blank" href="http://.com/"></a>
        </div>
        <div class="text-center">
            <strong><span class="cp">Copyright©2018</span></strong><span ></span>
          <strong><span class="pb">Powered By </span></strong><a target="_blank" href="http://.com/" class="se"></a>
        </div>
    </div>

</body>
<% include ../partials/script %>
<script src="/lib/js/sha256.min.js"></script>
<script src="/js/reset.js"></script>

</html>
